<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhaoxun.dubbo.mapper.user.UserRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jinhaoxun.dubbo.pojo.user.UserRole">
        <id column="USER_ROLE_ID" property="userRoleId" />
        <result column="CODE" property="code" />
        <result column="USER_ID" property="userId" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="CREATER_ID" property="createrId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        USER_ROLE_ID, CODE, USER_ID, CREATE_TIME, CREATER_ID
    </sql>

    <select id="selectRoleSet" parameterType="Long" resultType="string">
        select a.CODE
        from role a
        left join user_role b on b.CODE = a.CODE
        where b.USER_ID = = #{userId}
    </select>

</mapper>
