<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhaoxun.dubbo.mapper.article.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jinhaoxun.dubbo.pojo.article.Article">
        <id column="ARTICLE_ID" property="articleId" />
        <result column="AUTHOR_ID" property="authorId" />
        <result column="TITLE" property="title" />
        <result column="LABEL" property="label" />
        <result column="CONTENT" property="content" />
        <result column="STATUS" property="status" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATER_ID" property="updaterId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ARTICLE_ID, AUTHOR_ID, TITLE, LABEL, CONTENT, STATUS, CREATE_TIME, UPDATE_TIME, UPDATER_ID
    </sql>

    <select id="getArticleByTitle" parameterType="string" resultType="int">
        SELECT count(*)
        FROM ARTICLE
        WHERE TITLE = #{title}
    </select>

</mapper>
