<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhaoxun.dubbo.mapper.article.ArticlePraiseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jinhaoxun.dubbo.pojo.article.ArticlePraise">
        <id column="PRAISE_ID" property="praiseId" />
        <result column="ARTICLE_ID" property="articleId" />
        <result column="USER_ID" property="userId" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PRAISE_ID, ARTICLE_ID, USER_ID, CREATE_TIME
    </sql>

</mapper>
