<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhaoxun.dubbo.mapper.apply.PrimaryLabelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jinhaoxun.dubbo.po.apply.PrimaryLabel">
        <id column="PRIMARY_ID" property="primaryId" />
        <result column="NAME" property="name" />
        <result column="CODE" property="code" />
        <result column="CREATE_TIME" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        PRIMARY_ID, NAME, CODE, CREATE_TIME
    </sql>

</mapper>
