<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhaoxun.dubbo.mapper.quartz.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jinhaoxun.dubbo.po.quartz.Task">
        <id column="TASK_ID" property="taskId" />
        <result column="TYPE" property="type" />
        <result column="PARAMS" property="params" />
        <result column="EXECUTION_TIME" property="executionTime" />
        <result column="EXECUTION_STATUS" property="executionStatus" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="UPDATER_ID" property="updaterId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TASK_ID, TYPE, PARAMS, EXECUTION_TIME, EXECUTION_STATUS, JOB_CLASS, CREATE_TIME, UPDATE_TIME, UPDATER_ID
    </sql>

    <select id="getTaskList" resultMap="BaseResultMap">
        SELECT *
        FROM TASK
        WHERE EXECUTION_STATUS = 0 AND unix_timestamp(EXECUTION_TIME) &lt;= unix_timestamp(date_sub(now(), interval -1 hour))
    </select>

    <update id="updateExecutionStatus" parameterType="Long">
        UPDATE TASK
        SET EXECUTION_STATUS = 1
        WHERE TASK_ID = #{taskId}
    </update>
</mapper>
